
.anchor{
    -fx-background-image: url("../Imagenes/fondo.jpg");
}

.label{
    -fx-text-fill: black;
    -fx-font-family: "Consolas";
    -fx-font-size: 16px;
}

.label:hover{
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.labelBebida{
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Consolas";
    -fx-font-size: 32; 
}

.labelBebida:hover{
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Consolas";
    -fx-font-size: 34;
}

.imageView{
    -fx-border-radius: 30;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

.cajaTexto{
    -fx-border-radius: 40;
    -fx-font-family: "Consolas";
}

.boton{
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-border-radius: 50;
    -fx-border-color: #6F0BE1;
    -fx-text-fill: white;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
    -fx-font-family: "Consolas";
}

.boton:hover{
    -fx-border-width: 3px;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-font-family: "Consolas";
    -fx-text-fill: #82D6C1;
}

.botonAleatoria{
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-border-radius: 50;
    -fx-border-color: #FB08FF;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-background-color: #000018;
    -fx-font-family: "Consolas";
    -fx-background-radius: 50;
    -fx-background-insets: 0;
}

.botonAleatoria:hover{
    -fx-font-weight: bold;
    -fx-border-width: 3px;
    -fx-font-size: 20px;
    -fx-font-family: "Consolas";
    -fx-text-fill: #82D6C1;
}


.choiceBox{
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-border-radius: 15px;
    -fx-border-color: #6F0BE1;
    -fx-text-fill: white;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
    -fx-font-family: "Consolas";
    -fx-font-fill: white;
    -fx-mark-color: #FB08FF; 
}

.choice-box > .label {
    -fx-text-fill: white; 
}

.panel{
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-border-radius: 50;
    -fx-border-color: #FB08FF;
    -fx-text-fill: #10D5A5;
    -fx-background-radius: 0;
    -fx-background-color: #000018;
    -fx-background-radius: 50;
    -fx-background-insets: 0;
}

.panel:hover{
    -fx-border-width: 3px;
}

.tfBusca{
    -fx-text-fill: white;
    -fx-font-family: "Consolas";
    -fx-font-size: 14px;
}

.tfBusca:hover{
    -fx-text-fill: #82D6C1;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.tabla{
    -fx-font-family: "Consolas";
    -fx-font-size: 16px;
    -fx-background-color: transparent;
    -fx-border-style: solid;
    -fx-border-width: 3px;
    -fx-border-radius: 10px;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

.tabla:hover{
    -fx-border-width: 4px;
}

.tabla:selected{
    -fx-border-width: 4px;
}

.column-header{
    -fx-alignment: center;
    -fx-text-fill: black;
    -fx-font-family: "Consolas";
    -fx-font-size: 20px;
    -fx-background-color: #82D6C1;
    -fx-border-radius: 10px;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-effect: dropshadow(one-pass-box, darkviolet, 20, 0.5, 0.0, 0.0);
    -fx-effect: innershadow(one-pass-box, darkviolet, 20, 0.5, 0.0, 0.0);
}

.columnas{
    -fx-border-style: hidden;
    -fx-text-fill: darkviolet;
    -fx-font-family: "Consolas";
    -fx-alignment: center;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

.table row cell{
    -fx-border-style: hidden;
    -fx-font-family: "Consolas";
    -fx-alignment: center;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

.table-row-cell:hover{
    -fx-background-color: #C39BD3;
    -fx-text-fill: white;
}

.table-row-cell:selected{
    -fx-background-color: #C39BD3;
    -fx-text-fill: white;
}

.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow, 
.table-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

.choice-box .context-menu { 
    -fx-background-color: #000018;
}

.choice-box .menu-item > .label { 
    -fx-text-fill: white;
    -fx-font-family: "Consolas";
}

.choice-box .menu-item:focused { 
    -fx-background-color: #cd1cca; 
    -fx-text-fill: white;
}

.choice-box .menu-item:focused > .label {
    -fx-text-fill: black;
    -fx-font-family: "Consolas";
}
