.ventana{
    -fx-background-color: #F6DDCC;
    -fx-border-style: outset;
    -fx-border-color:#F0B27A;
    -fx-border-width: 8px;
    -fx-border-radius: 5px;  
}

.etiqueta{
    -fx-font-weight: bold;
}

.desplegable{
    -fx-border-radius: 5px;
    -fx-background-color: #F6DDCC;
    -fx-border-color: black;
}

.desplegable:hover{
    -fx-border-width: 2px;
}

.desplegable:focused{
    -fx-border-width: 2px;
}

.combo-box-popup > .list-view {
    -fx-border-color: black;
    -fx-border-radius: 5px;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-background-color: #F6DDCC;
    -fx-font-family: "verdana";
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:hover{
    -fx-background-color: #F0B27A;
} 

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:selected{
    -fx-background-color: #F0B27A;
} 

.caja{
    -fx-border-radius: 5px;
    -fx-border-color: black;
}

.caja:hover{
    -fx-border-radius: 5px;
    -fx-border-color: black;
    -fx-border-width: 2px;
}

.caja:focused{
    -fx-border-radius: 5px;
    -fx-border-color: black;
    -fx-border-width: 2px;
}

.boton {
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-background-color: #F0B27A;
    -fx-font-weight: bold;
}

.botonEliminar{
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-background-color: #FFA28E;
    -fx-font-weight: bold;
}

.tabla{
    -fx-background-color: #F6DDCC;
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

.tabla:hover{
    -fx-border-width: 3px;
}

.tabla:selected{
    -fx-border-width: 3px;
}

.column-header{
    -fx-background-color: #F0B27A;
    -fx-border-color: black;
    -fx-font-weight: bold;
    -fx-font-family: "verdana";
}

.columnas{
    -fx-border-style: hidden;
    -fx-font-family: "verdana";
}

.table-row-cell{
    -fx-background-color: #F6DDCC;
}

.table-row-cell:hover{
    -fx-background-color: #F0B27A;
}

.table-row-cell:selected{
    -fx-background-color: #F0B27A;
}