
.boton{   
    -fx-background-color: #E88200;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: black;
    -fx-font-family: "Kristen ITC";
    -fx-font-size: 18px;
}

.boton:hover{
    -fx-background-color: #E88200;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: black;
    -fx-font-family: "Kristen ITC";
    -fx-font-size: 20px;
}

.botonEntrada{
    -fx-background-color: #E88200;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: black;
    -fx-font-family: "Kristen ITC";
    -fx-font-size: 38px;
    -fx-text-fill: black;
}

.botonEntrada:hover{
    -fx-background-color: #E88200;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: black;
    -fx-font-family: "Kristen ITC";
    -fx-font-size: 40px;
    -fx-text-fill: black;
}

.botonPelea{
    -fx-background-color: #E88200;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: black;
    -fx-font-size: 12px;
}

.botonPelea:hover{
    -fx-background-color: #E88200;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: black;
    -fx-font-size: 13px;
}

.progress-bar .bar { 
    -fx-background-radius: 30;
}
.progress-bar .track { 
    -fx-background-radius: 30;
}

.progress-bar {
    -fx-background-radius: 30;
}

.lb{
    -fx-font-family: "Kristen ITC";
    -fx-font-size: 16px;
}

.escenario {
    -fx-background-radius: 15;
    -fx-border-radius: 15;
}

.textF{
    -fx-background-color: transparent;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: black;
}

